.THIS .slds-card__header {
    padding: 0rem 0rem 0 1rem;
    margin: 0;
}

.THIS .slds-card__body {
    margin-bottom: 0;
}

.THIS .slds-card__footer {
    padding-bottom: 0;
}

.THIS .slds-card__footer button {
   margin-top: 0;
}

.THIS .hideLabel label {
    display:none;
}

.THIS .slds-truncate {
    white-space: normal;
}